.rights{
  width: 32%;
  float: right;
  margin-left: 1.5%;
  margin-right: .05%;
  margin-bottom: 65px;
  position: relative;
}
.lefts{
  width: 32%;
  float: right;
  margin-left: .05%;
  margin-bottom: 65px;
  
}

.layer1s{
  min-height: 880px;
  width: 100%;
  /*background-color: red*/
}

.headers{
    border-top: 5px solid #9682b7;
    padding-top: 40px
}

.leftTops{
  width: 100%;
  float: right;
  margin-left: 1.5%;
  margin-right: .5%;
  margin-bottom: 65px;

}

.leftBottoms{
  width: 100%;
  float: right;
  margin-left: 1.5%;
  margin-right: .5% 
  margin-bottom: 65px;
}
.middles{
  
  width: 32%;
  float: right;
  margin-left: 1.5%;
  margin-bottom: 65px;
  

}

.table_5s{
  width: 32%;
  float: right;
  margin-left: 1.5%;
  margin-right: .5%
  margin-bottom: 65px;
  
}
.table_6s{
  width: 32%;
  float: right;
  margin-left: 1.5%;
  margin-bottom: 65px;


}

.table_7s{
  width: 32%;
  float: right;
  margin-left: .5%;
  margin-bottom: 65px;
  
}

table{
  direction: rtl;
  text-align: center;
  border:2px solid #DDDDDD;

 
}

th{
  text-align: center !important;
}

h1 , h2 ,h3 ,h4 , h5 , h6{
  text-align: center;
}
.table_1s_chart{
  width: 100%;
  float: right;
  background-color:#fafafa;
  margin-left: 1.5%;
  margin-right: .05%;
  margin-bottom: 65px;
  position: fixed;
  margin: auto;
  height: 700px;
  padding:100px 400px 0 80px;
  top: 80px;
  z-index: 18999999999999999999999999999999999999999999999999999;
  display: none;


}
.table_4s_chart{
  width: 100%;
  float: right;
  background-color:#fafafa;
  margin-left: 1.5%;
  margin-right: .05%;
  margin-bottom: 65px;
  position: fixed;
  margin: auto;
  height: 700px;
  padding:100px 400px 0 80px;
  top: 80px;
  z-index: 19999999999999999999999999999999999999999999999999999;
  display: none;


}
